body{
    background-color: black;
}
h4{
    font-family: Tahoma;
    color: white
}
strong{
    font-family: 'Tahoma';
    font-size:20px;
    color: white
}
 i {
     color:red;
}
 p {
     font-family: 'Franklin Gothic Book';
     font-size:14px;
     color:white;
}
ul{
    font-family: 'Franklin Gothic Book';
    color:white;
    margin: 0;
    padding:15px;
}
ul.listSquare {
    list-style-type: square;
  }