body{
    background-color: black;
}
h4{
    font-family: Tahoma;
    color: white
}
strong{
    font-family: 'Tahoma';
    font-size:20px;
    color: white
}
 i {
     color:red;
}
 p {
     font-family: 'Franklin Gothic Book';
     font-size:14px;
     color:white;
}